//
   Created by Nicu on 11/10/2014.
.col-sm-3
    .list-group#sidebar
        ul
            li(ui-sref-active="active")
                a.list-group-item(ui-sref='user.private.streams', href='') Streams
.col-sm-9
    ui-view