<!--Created by nreut on 01-Jul-14.
--><h1>Login</h1>
<form ng-submit="login()" name="loginForm" role="form" class="form-horizontal">
    <div class="form-group"><label for="email" class="control-label col-sm-3">Email</label>

        <div class="col-xs-5"><input type="text" data-ng-model="email" placeholder="Email" name="email"
                                     required="required" autofocus="autofocus" class="form-control"/></div>
    </div>
    <div class="form-group"><label for="password" class="control-label col-sm-3">Password</label>

        <div class="col-xs-5"><input type="password" data-ng-model="password" placeholder="Password" name="password"
                                     required="required" class="form-control"/></div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-sm-10">
            <div class="checkbox"><label for="rememberme" class="checkbox"><input type="checkbox"
                                                                                  data-ng-model="rememberme"
                                                                                  name="rememberme"/>Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-sm-10 col-sm-push-5">
            <button type="submit" data-ng-disabled="loginForm.$invalid" class="btn btn-default">Log in</button>
        </div>
    </div>
</form>